<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Minesweeper</title>

  <style>
    button {
      background-color: gray;
      height:20px;
    }
  </style>
</head>

<body>
    <div>Game status: <span id="gameStatus">Playing</span></div>
    <table id="board" style="border: 1px solid black">
    </table>
  <script>
    async function getBoard() {
      const response = await fetch("/game/board/");
      return response.json();
    }
    getBoard().then(board => {
      const table = document.getElementById("board");
      let currentTr = document.createElement("tr");

      table.dataset.boardId = board.pk;


      const {width, height} = board.fields;

      for(let i=0; i< width; i++){
        currentTr = document.createElement("tr");
        table.appendChild(currentTr)

        for(let j=0; j < height; j++) {
          const td = document.createElement("td");
          currentTr.appendChild(td);
          const button = document.createElement("button");
          button.setAttribute("data-x", i);
          button.setAttribute("data-y", j);
          button.setAttribute("onClick", "handleClick(event)");
          button.setAttribute("oncontextmenu", "flagCell(event)");


          td.appendChild(button);
        }

      }
    })

    function getCellData (pressedCell) {
      const x = pressedCell.dataset.x;
      const y = pressedCell.dataset.y;

      const boardId = document.getElementById("board").dataset.boardId;

      return {x, y, boardId};
    }
    async function flagCell(event){
      event.preventDefault()
      const {x, y, boardId} = getCellData(event.target);

      const response = await fetch('/game/flag/', {
        method: 'POST',
        body: JSON.stringify({x, y, boardId }),
        headers:{
          'Content-Type': 'application/json'
        }

      });

      const {is_flagged, is_uncovered} = await response.json();

      const tr = document.getElementsByTagName("tr")[x];
      const button = tr.getElementsByTagName("button")[y];

      const color = !is_uncovered ? (is_flagged ? "orange": "gray") : "green";
      button.style.backgroundColor = color;
    }

    async function handleClick(event){
      event.preventDefault();
      const pressedCell = event.target;
      const {x, y, boardId} = getCellData(pressedCell);
      const response = await fetch('/game/click/', {
        method: 'POST',
        body: JSON.stringify({x, y, boardId }),
        headers:{
          'Content-Type': 'application/json'
        }
      });

      const {adjacents_to_uncover, game_status} = await response.json()
       if (response.status === 400){
          pressedCell.style.backgroundColor = 'red';
          endGame(game_status)
       } else {
        const table = document.getElementById("board");

        adjacents_to_uncover.forEach(coords => {
          const trs = table.getElementsByTagName("tr");
          const tr = trs[coords[0]];
          const tds = tr.getElementsByTagName("td");
          const td = tds[coords[1]];
          td.getElementsByTagName("button")[0].style.backgroundColor = "green";
        });

        pressedCell.style.backgroundColor = 'green';
        if (game_status === "WON"){
          endGame(game_status)
        }
       }
    }

    const gameStatus = {
      WON: "Congratulations! You won!",
      LST: "You lost :("
    }

    function endGame(status){
      disableBoard()
      const gameStatusContainer = document.getElementById("gameStatus");
      gameStatusContainer.innerText = gameStatus[status];
    }

    function disableBoard() {
      const buttons = document.getElementsByTagName("button");
        for (button of buttons) {
            button.setAttribute("disabled", "");
        }
    }

  </script>
</body>
</html>