<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Minesweeper</title>

  <style>
    button {
      background-color: red;
      height:20px;
    }
  </style>
</head>

<body>

    <table id="board" style="border: 1px solid black">
    </table>
  <script>
    async function getBoard() {
      const response = await fetch("/game/board/");
      return response.json();
    }
    getBoard().then(config => {
      const table = document.getElementById("board")
      let currentTr = document.createElement("tr")
      const boardSize = config.size;
      for(let i=0; i< boardSize; i++){
        currentTr = document.createElement("tr");
        table.appendChild(currentTr)

        for(let j=0; j < boardSize; j++) {
          const td = document.createElement("td")
          currentTr.appendChild(td)
          const button = document.createElement("button")
          button.setAttribute("data-x", i)
          button.setAttribute("data-y", j)
          button.setAttribute("onClick", "handleClick(event)")
          td.appendChild(button)
        }

      }
    })

    async function handleClick(event){
      const pressedCell = event.target;
      const x = pressedCell.dataset.x;
      const y = pressedCell.dataset.y;
      const response = await fetch('/game/click/', {
        method: 'POST',
        body: JSON.stringify({x, y}),
        headers:{
          'Content-Type': 'application/json'
        }
      });
       if (response.status === 400){
            alert("You lost!")
       }
    }
  </script>
</body>
</html>